<div id="messages-container">
    <div id="messages-container-titre">
        <h1 id="messages-titre-h1">Messages</h1>
        <p id="messages-titre-p"> Gérez les messages reçus depuis le formulaire de contact</p>
    </div>
    <div class="messages">
        <img id="messages-icon" src="./src/images/icons/dashboard/message.svg" alt="">
        <p id="messages-notfound">Aucun message reçu pour le moment</p>
    </div>
    <div id="messages-details" >
        <img id="messages-icon" src="./src/images/icons/dashboard/message.svg" alt="">
        <p id="messages-notfound">Sélectionnez un message pour voir les détails</p>
    </div>
</div>